@import url("styles/slider-bg.css");
@import url("styles/header.css");
@import url("styles/our-service.css");
@import url("styles/portfolio.css");
@import url("styles/footer.css");
@import url("styles/burger.css");

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", verdana, sans-serif;
}

#anchor2,
#anchor1 {
  position: absolute;
  bottom: -1px;
  width: 5px;
  margin: auto;
  height: 89px;
}

@media screen and (max-width: 1019px) {
  .grid-service {
    grid-template-areas:
      "a a"
      "a a"
      "a a";
  }
  .grid_portfolio {
    grid-template-areas:
      "a a a"
      "a a a"
      "a a a"
      "a a a";
    margin: 20px 40px 20px 40px;
  }
  .slider-bg::before {
    content: "";
    display: block;
    padding-top: 58.8%;
  }
  .slide-1::before,
  .slide-2::before {
    content: "";
    display: block;
    padding-top: 58.24%;
  }
  .slide-1,
  .slide-2 {
    height: auto;
  }

  .slide-2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .phone-vertical {
    position: absolute;
    width: 23.52%;
    height: 81.3%;
    left: 10.98%;
    top: 9.3%;
  }
  .phone-horizomtal {
    position: absolute;
    width: 47.35%;
    height: 40.3%;
    right: 10.98%;
    top: 30%;
  }
  .slider-bg {
    height: auto;
  }
  #arrow-right {
    position: absolute;
    right: 3.82%;
  }
  #arrow-left {
    position: absolute;
    left: 3.82%;
  }
}
@media screen and (max-width: 767px) {
  .grid-service {
    grid-template-areas:
      "a"
      "a"
      "a"
      "a";
  }
  .grid_portfolio {
    position: relative;
    grid-template-areas:
      "a a"
      "a a"
      "a a"
      "a a";
    margin: 30px;
    grid-gap: 10px;
  }
  .grid_portfolio img:nth-child(1n + 9) {
    display: none;
  }
  .service {
    position: relative;
    margin: 0 30px;
  }
  .tab {
    margin-left: 30px;
  }
  .grid-service {
    margin: 0px 20px;
  }

  .p4 {
    display: none;
  }
  footer,
  .header {
    justify-content: center;
  }
  .media {
    margin-top: 3px;
    margin-right: 0px;
  }
  header img {
    display: block;
  }
  .doun {
    transform: translate(0, 66px);
    transition: 1s;
  }
  .move {
    transform: translate(278px, 0);
    transition: 1s;
  }
  .header,
  .a1,
  #anchor2,
  #anchor1,
  header {
    height: 71px;
  }
}
@media screen and (max-width: 375px) {
  .tab li {
    margin-right: 2px;
    padding: 2px 4px 3px 4px;
  }
}
